header.header
	div.logo
		.logo__brand Cozy House
		.logo__tagline Shelter for pets in Boston
	nav.menu
		.sandwich
			.sandwich__line.sandwich__line--top
			.sandwich__line.sandwich__line--middle
			.sandwich__line.sandwich__line--bottom
		ul.menu-list
			li.menu-list__item
				a(href='#about').menu-list__link About the shelter
			li.menu-list__item.menu-list__item_active
				a(href='#pets').menu-list__link Our pets
			li.menu-list__item
				a(href='#help').menu-list__link To help the shelter
			li.menu-list__item
				a(href='#footer').menu-list__link Contacts