article.intro
	div.intro__container
		div.intro__message
			h1.headline.headline_intro Not only people need a house
			div.intro__text.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras gravida 
				est in porttitor  porttitor. Duis sodales elementum ipsum, vehicula 
				condimentum erat fringilla et.
			a(href='#pets').intro__button Make a friend