.footer {
	background-image: url(../images/content/intro/intro-bg.webp);
	background-repeat: no-repeat;
	position: relative;
	&__container {
		display: flex;
		max-width: $desktop;
		margin: auto;
		@include screen($w1250) {
			justify-content: center;
			max-width: $w900;
		}
		@include screen($w1024) {
			max-width: 90%;
		}
	}
	&__contacts-box {
		display: flex;
		position: relative;
		justify-content: space-between;
		padding-top: 75px;
		padding-bottom: 70px;
		padding: 75px 20px 70px;
		min-width: 750px;
		&::before {
			content: '';
			background-image:                   
			url(../images/content/footer/dog.webp);  
			background-repeat: no-repeat;
			background-size: 100% 100%;
			width: 294px;
			height: 313px;
			position: absolute;
			bottom: 0;
			left: calc(100% + 120px);
			@include screen($w1250) {
				display: none;
			};
		}
		@include screen($w1024) {
			min-width: 700px;
		}
		@include screen($w768) {
			min-width: unset;
			flex-direction: column;
			padding: 50px 20px 40px;
		}
	}
}

.contacts {
	max-width: 300px;
	&__items {
		padding-top: 20px;
	}
	&__item {
		display: flex;
    	align-items: center;
		color: $brand;
		font-family: "Times New Roman PSMT";
		font-size: 2rem;
		letter-spacing: 1.2px;
		min-height: 65px;
		@include screen($w768) {
			font-size: 1.6rem;
		}
	}
	&__icon-box {
		padding-right: 20px;
	}
	@include screen($w768) {
		&:not(:last-child) {
			padding-bottom: 30px;
		}
	}
}

.headline_footer {
	color: $white;
}