article.about#about
	.about__container
		.about__text
				h4.headline.headline_about About the shelter
					span.headline-part “Cozy House”
				.about__info
					.about__info-part.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Fusce efficitur blandit condimentum. Proin accumsan lorem vel gravida fringilla. Suspendisse potenti. Mauris ut pulvinar nunc.
					.about__info-part.
						Donec consectetur, diam in porta tempus, urna ligula vestibulum nibh, ac ornare felis justo nec leo. Praesent mattis nibh quis 
						ultrices pharetra. Morbi tempus at ante sit amet tristique. 
						Maecenas dignissim justo orci, in laoreet urna dapibus nec. Praesent quis tortor faucibus, tristique ante vitae, dignissim 
						lorem. Sed at ligula et sem mattis gravida ac vel erat. 
		.about__image-box
			img(src="./static/images/content/about/about-pets.webp" alt="cat and dog").about__image
		