article.pets#pets
	.pets__container
		h4.headline.headline_pets Our friends who 
			span.headline-part are looking for a house
		.pets-slider
			.pets-slider__item-box
				.pets-slider__item
					.pets-slider__image-box
						img(src="./static/images/content/pets/pets-3.webp" alt="pretty cat").pets-slider__image
					.pets-slider__pet-name Katrine
					.pets-slider__button Learn More
			.pets-slider__item-box
				.pets-slider__item
					.pets-slider__image-box
						img(src="./static/images/content/pets/pets-2.webp" alt="pretty dog").pets-slider__image
					.pets-slider__pet-name Jennifer
					.pets-slider__button Learn More
			.pets-slider__item-box
				.pets-slider__item
					.pets-slider__image-box
						img(src="./static/images/content/pets/pets-1.webp" alt="pretty dog").pets-slider__image
					.pets-slider__pet-name Woody
					.pets-slider__button Learn More
			.pets-slider__item-box
				.pets-slider__item
					.pets-slider__image-box
						img(src="./static/images/content/pets/pets-2.webp" alt="pretty dog").pets-slider__image
					.pets-slider__pet-name Jennifer
					.pets-slider__button Learn More
		.pets__button Get to know the rest