// Colors
$white: #fff;
$black: #000;
$brand: #f1cdb3;
$brand-second: #fddcc4;
$main-text: #545454;
$second-text: #cdcdcd;
$third-text: #4c4c4c;
$info-text: #b2b2b2;
$button-text: #292929;
$slide-bg: #fafafa;
$pets-bg: #f6f6f6;


// Sizes
$base-font-size: 16px;


$desktop: 1170px;

$w1250: 1250px;
$w1024: 1024px;
$w900: 900px;
$w768: 768px;