article.help#help
	.help__container
		h4.headline.headline_help Than you can help
			span.headline-part our shelter
		.help__items
			.help__items-row
				.help__item
					.help__icon.icon-cat-food
					.help__description Pet food
				.help__item
					.help__icon.icon-ambulance
					.help__description Transportation
				.help__item
					.help__icon.icon-ball
					.help__description Toys
				.help__item
					.help__icon.icon-bowl
					.help__description Bowls and cups
				.help__item
					.help__icon.icon-shampoo
					.help__description Shampoos
					
			.help__items-row
				.help__item
					.help__icon.icon-pills
					.help__description Vitamins
				.help__item
					.help__icon.icon-syringe
					.help__description Medicines
				.help__item
					.help__icon.icon-leash
					.help__description Collars / leashes
				.help__item
					.help__icon.icon-cat
					.help__description Sleeping area
					