article.donation#donation
	.donation__container
		.donation__info
			h4.headline In addition, you
				span.headline-part can make a donation
			.bank-details
				.bank-details__description Name of the bank / Type of bank account
				.bank-details__card 8380 2880 8028 8791 7435
				.bank-details__info.
					Legal information and lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Maecenas a ipsum at libero sagittis dignissim sed 
					ac diam. Praesent ultrices maximus tortor et vulputate. Interdum 
					et malesuada fames ac ante ipsum primis in faucibus. 
		.donation__image-box
			img(src="./static/images/content/donation/dog.webp" alt="pretty dog").donation__image