footer.footer#footer
	.footer__container
		.footer__contacts-box
			.contacts
				.headline.headline_footer For questions and suggestions
				.contacts__items
					.contacts__item
						.contacts__icon-box
							.contacts-icon.icon-mail
						a(href='mailto:email@shelter.com').contacts__text email@shelter.com

					.contacts__item
						.contacts__icon-box
							.contacts-icon.icon-telephone
						a(href='tel:+136745677554').contacts__text +13 674 567 75 54

			.contacts
				.headline.headline_footer We are waiting for your visit

				.contacts__items
					.contacts__item
						.contacts__icon-box
							.contacts-icon.icon-pin
						.contacts__text Boston, Central Street, 1st (Entrance from the store)

					.contacts__item
						.contacts__icon-box
							.contacts-icon.icon-pin
						.contacts__text London, South Park, 18st